{% extends 'website/base.html' %}
{% block content %}

<div class="card">
    <div class="card-header">
        {{ custom_record.first_name }}
        {{ custom_record.last_name }}
    </div>
    <div class="card-body">
      <p class="card-text"><strong>Email: </strong>{{ custom_record.email}}</p>
      <p class="card-text"><strong>Phone: </strong>{{ custom_record.phone}}</p>
      <p class="card-text"><strong>Address: </strong>{{ custom_record.address}}</p>
      <p class="card-text"><strong>City: </strong>{{ custom_record.city}}</p>
      <p class="card-text"><strong>State: </strong>{{ custom_record.state}}</p>
      <p class="card-text"><strong>Zipcode: </strong>{{ custom_record.zipcode}}</p>
      <p class="card-text"><strong>Created At: </strong>{{ custom_record.created_at}}</p>
      <p class="card-text"><strong>ID: </strong>{{ custom_record.id}}</p>
    </div>
</div>
<a href="{% url 'home' %}" class="btn btn-secondary mt-4">Back</a>
<a href="{% url 'delete_record' custom_record.id %}" class="btn btn-danger mt-4">Delete</a>
<a href="{% url 'update_record' custom_record.id %}" class="btn btn-secondary mt-4">Update Record</a> 

{% endblock %}